<!DOCTYPE html>
{% load static from staticfiles%}
<HTML>
<HEAD>
  <meta charset="UTF-8">
  <TITLE>About Us</TITLE>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>\
  <script src="https://d3js.org/d3.v4.min.js">  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

</HEAD>
<BODY LANG="en-US" DIR="LTR">

   	 <div class="navbar navbar-inverse navbar-static-top navbar-fixed-top">
    	  <div class="container">
        	<ul class="nav navbar-nav" style="position:absolute;left:60px;">
          		<li><a href="/">NYC Hotel Finder</a></li>
          		<li><a href="/report">Hotel distribution</a></li>
         	 	<li class="active"><a href="./">About US</a></li>
        	</ul>
      	</div>
	</div>

<div class = 'container' style="position:relative;top:60px;">
<P ALIGN=LEFT STYLE="margin-bottom: 0.28in; border-top: none; border-bottom: 6.00pt solid #ff7a00; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.31in; padding-left: 0in; padding-right: 0in; line-height: 100%">
<FONT COLOR="#454541"><FONT FACE="Arial, serif"><FONT SIZE=6 STYLE="font-size: 30pt"><B>About
Us</B></FONT></FONT></FONT>
</P>

<H1 CLASS="western">Three steps to find hotels in NYC</H1>
<P STYLE="margin-bottom: 0.25in">Step 1: Enter address in the search
box</P>

<P ALIGN=CENTER STYLE="margin-bottom: 0.25in"><IMG SRC="{% static 'images/About_Us_html_9d87978d.png' %}" NAME="Picture 1" ALIGN=BOTTOM WIDTH=560 HEIGHT=314 BORDER=0></P>
<P STYLE="margin-bottom: 0.25in">Step 2: Filter with customized
conditions</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.25in"><IMG SRC="{% static 'images/About_Us_html_257209b2.png' %}" NAME="Picture 3" ALIGN=BOTTOM WIDTH=560 HEIGHT=276 BORDER=0></P>
<P STYLE="margin-bottom: 0.25in">Step 3: Click markers to view
details: 
</P>
<P STYLE="margin-bottom: 0.25in">(1). Click “Rating Distribution”
to show rating distribution bar chart:</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.25in"><IMG SRC="{% static 'images/About_Us_html_f67e6625.png' %}" NAME="Picture 4" ALIGN=BOTTOM WIDTH=419 HEIGHT=296 BORDER=0></P>
<P STYLE="margin-bottom: 0.25in">(2) Click “Nearby” Price to show
the nearest 10 hotels’ price distribution represented by a
Cleveland dot plot. The red horizontal line represents the price of
this hotel, which is convenient for comparison. 
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.25in"><IMG SRC="{% static 'images/About_Us_html_b494163a.png' %}" NAME="Picture 5" ALIGN=BOTTOM WIDTH=417 HEIGHT=334 BORDER=0></P>
<P STYLE="margin-bottom: 0.25in"><BR><BR>
</P>
<P STYLE="margin-bottom: 0.25in">(3) Compare multiple hotels…</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.25in"><A NAME="_GoBack"></A><IMG SRC="{% static 'images/About_Us_html_59595980.png' %}" NAME="Picture 6" ALIGN=BOTTOM WIDTH=584 HEIGHT=397 BORDER=0></P>
<P STYLE="margin-bottom: 0.25in">(4) Click “Website” to view the
webpage of that hotel. <SPACER TYPE=BLOCK ALIGN=LEFT WIDTH=46 HEIGHT=69>
</P>
<P STYLE="margin-bottom: 0.25in"><BR><BR>
</P>
<P STYLE="margin-bottom: 0.25in"><BR><BR>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.25in"><FONT COLOR="#ff7a00"><FONT SIZE=7>NYC
HOTEL FINDER</FONT></FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.25in"><FONT COLOR="#70ad47"><FONT SIZE=7><B>PROVIDED
BY </B></FONT></FONT><FONT COLOR="#9cc346"><FONT SIZE=7><B>Frank</B></FONT></FONT><FONT COLOR="#ffffff"><FONT SIZE=7>
</FONT></FONT><FONT COLOR="#000000"><FONT SIZE=7><B>&amp;</B></FONT></FONT><FONT COLOR="#ff6275"><FONT SIZE=7><B>
Micky</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0.25in"><BR><BR>
</P>
</div>
</BODY>
</HTML>